<html>
<style>
  .center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

</style>
 <head>
 </head>
 <body>
 <div class="center-screen">
 <img src="https://www.kotaklife.com/assets/images/fb-share.png" alt="Kotak Logo" width="250" height="150">
 <b style="color:rgb(30,70,121);">{{data}}</b>
 &nbsp;
 <a href="https://api.whatsapp.com/send?phone=917021350559" style="display: inline-block; padding:8px; border-radius: 8px; background-color: #25D366; color: #fff; text-decoration: none; font-family: sans-serif; font-size: 16px;">Return to WhatsApp</a>
 </div>
 </body>
 </html>